<div class="container">
  <h1>Contact Us</h1>
  <div class="mb-4" #gmap id="gmap" style="width: auto; height: 350px;"></div>
<div class="row text-center">
  <div class="col-4">
    <h5 class="mb-0">Massage Therapist: <small>Kaitlyn M.</small></h5>
    <h5 class="mb-0">Email: <small>kaitlynm@lotusmasaz.com</small></h5>
    <h5 class="mb-0">Phone: <small>(360)-536-6572</small></h5>
  </div>
  <div class="col-4">
      <h5 class="mb-0">Marketing Manager: <small>Suzi M.</small></h5>
      <h5 class="mb-0">Email: <small>suzim@lotusmasaz.com</small></h5>
      <h5 class="mb-0">Phone: <small>(360)-649-3370</small></h5>
  </div>
  <div class="col-4 mb-5">
    <h5 class="mb-0">Lotus Masáž</h5>
    <p class="mb-0">701 Bay Street, Suite 204</p>
    <p class="mb-0">Port Orchard, WA 98366</p>
  </div>
</div>

</div>