.orangeText{
    color: #25960f;

}
.green1{
    background-color: #52bd24;
}
.green2{
    background-color: #6dca46
}
.green3{
    background-color: #8ad66a
}
.green4{
    background-color: #aae392
}
.textgreen{
    color: #304d22
}
.grey1{
    background-color: #eeeeee
}
p{
    font-family: 'Montserrat';
    font-size: 20px
}
h1, h2, h3, h4, h5, h6, h7{
    font-family: 'Lora';
}